/*��������ҳ������Ҳ�߿���*/
section{
    width:983px;
    margin: 0 auto;
    border-right:1px solid #eee; 
}
section::after{
    content: "";
    display: block;
    clear: both;
}
/*������Ҫҳ�棬���Ҳ����*/
#main_part{
    width:731px;
    border: 1px solid #eee;
    padding:18px;
    float: left;

}
a{
    text-decoration: none;
    color: #333;
}
ul,p{
    padding: 0px;
    margin: 0px;
}
.hot_nav{
    height: 33px;
    border-bottom: 2px solid #C10D0C;
    line-height: 33px;
    padding-right: 10px;
}
/*����С��Ȧ*/
.red_circle{
    float: left;
    width: 32px;
    height: 33px;
    background: url("../images/index/index.png") no-repeat -225px -153px;
}
.hot_title{
    float: left;
    margin-right: 20px;
    font-size: 20px;
}
#hot ul.hot_ul{
    float: left;
    font-size: 12px;
    color: #333;
}
/*���li�ĸ���*/
#hot ul:after{
    content:"";
    display: block;
    clear:both;
}
#hot ul li{
    float:left;
    list-style: none;
}
/*���������Ƽ���|��*/
.line + .line::before{
    content:"|";
    margin: 0px 10px;
}
.hot_ul a:hover,.hot_more a:hover{
    text-decoration: underline;
}
.hot_more{
    float: right;
    font-size: 12px;
}
.hot_arrow{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px;
    vertical-align: middle;
    background: url("../images/index/index.png") no-repeat 0px -242px;
}
/*�����ȵ�����ÿ��ͼƬ��������*/
.hot_main{
    padding: 20px 0px;
}
#hot >.hot_main>li.hot_li{ 
    box-sizing: content-box;
    width:140px;
    height: 204px;
    float: left;
    padding-left: 37px;
    padding-bottom: 30px;
    position: relative;
}
#hot >.hot_main>li.hot_first_li{
    padding-left: 0px;
    box-sizing: content-box;
    width: 140px;
    height: 204px;
}
#hot >.hot_main>li>a>img{
    border: 1px solid #eee;
}
/*�����ȵ����������ֲ���*/
.hot_main p a{
    font-size: 14px;
    line-height: 20px;
}
.hot_main p a:hover{
    text-decoration: underline;
}
.hot_main p:before{
    content: "";
    display: table;
}
/*�����ȵ������̨��Ŀ*/
.hot_main .hot_diantai{
    display: inline-block;
    width: 42px;
    height: 18px;
    background: url("../images/index/icon.png") no-repeat -30px -655px;
    margin-top: 2px;
}
/*����ͼƬ�ϵĻ�ɫ����*/
.hot_li_bottom{
    height: 27px;
    width: 140px;
    background: url("../images/index/coverall.png") no-repeat 0 -537px;
    position: absolute;
    top:114px;
    left: 38px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
    padding:9px 5px;
    box-sizing: border-box;
}
.hot_first_li{
    position:relative;
}
.hot_li_bottom_first{
    height: 27px;
    width: 140px;
    background: url("../images/index/coverall.png") no-repeat 0 -537px;
    position: absolute;
    top:114px;
    left: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ccc;
    padding:9px 5px;
    box-sizing: border-box;
}
#hot >.hot_main>li.hot_first_li .hot_li_bottom,#hot >.hot_main>li.hot_first_li .hot_li_bottom{
    left: 1px;
}
/*����ͼƬ�ϻ�ɫ���ֵĶ���*/
.hot_earphone{
    display: inline-block;
    width: 14px;
    height: 11px;
    background: url("../images/index/iconall.png") no-repeat 0 -23px;
    margin-right: 5px;
}
/*����ͼƬ�ϻ�ɫ���ż�*/
.hot_play{
    position: absolute;
    right: 10px;
    bottom: 4px;
    width: 16px;
    height: 17px;
    background: url("../images/index/iconall.png") no-repeat 0 0px;
}
