/* 普通reset */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
p,
h3,
table,
th,
td,
tr,
a,
textarea,h4,ul,li {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none
}
i{
    font-style: normal;
}
ul{
    list-style: none;
}

/* 清除浮动 */

.clear_both::after {
    content: "";
    display: block;
    clear: both;
}


/* 高度坍塌 */

.dis_table::before {
    content: "";
    display: table;
}


/* body的字体继承*/
body{
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
/* 设置最外层div*/
#toplist{
    min-height:700px;
    width:980px;
    border:1px solid #d3d3d3;
    background:#fff;
    border:0 1px;
    margin:0 auto;
}
#toplist::after{
    display:block;
    content:"";
    clear:both;
}
/* 清除浮动 */

/* 设置左边div */
#top-left{
    float:left;
    width:240px;
    border-right:1px solid #d5d5d5 ;
}
.left-container{
    margin-top:40px;
}
.left-container h2{
    padding: 0 10px 12px 15px;
    font-size: 14px;
    color: #000;
}
/* 设置每个列表的内边距*/
.ul-list li{
    width:239px;
    height:62px;
    padding:10px 0 10px 20px;
    cursor: pointer;
    position: relative;
    list-style-type:none;

}
.ul-list li:hover{
    background:#f6f6f6;
}
.ul-list-item.active{
    background:#f6f6f6;
}
/* 设置图片的尺寸*/
.item-left{
    display:inline;
    margin-left: -50px;
    overflow: hidden;
}
.item-left img{
    width:40px;
    height:40px;
    position:absolute;
    top:10px;
    left:20px;
}
/* 设置文字 */
.item-right{
    padding-bottom:10px;
    position: absolute;
    top:8px;
    left:20px;
}
.left-f1{
    width: 150px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left:51px;
    cursor: pointer;
    

}
.left-f2{
    color:#999;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left:51px;
    cursor: pointer;
}


/*第二部分，右边  */
/* 上面部分 */
#top-right{
    float:left;
    padding:40px;
}
.right-t{
    width:658px;
    height:158px;
}
.right-t-img{
   width:150px;
   height:150px;
   padding:3px;
    border: 1px solid #ccc;
    position: relative;
    display: inline-block;
    margin-right:24px;
}
.right-t-img img{
    width:142px;
    height:142px;
    

}
/* 精灵图 */
.bg-posi{
    display: inline-block;
    width:150px;
    height:150px;
    background:url(../images/coverall1.png);
    background-position:-230px -380px;
    position: absolute;
    top: 3px;
    left: 3px;
}
/* 右边部分*/
.right-t-f{
  width:73%;
  float:right;
  
}
.right-font1{
    margin:16px 0 4px;
}
/*第一行*/
/* 设置字体 */
.right-font1 h2{
    line-height: 24px;
    font-size: 20px;
    font-weight: normal;
}
/* 第二行，精灵图+span+span*/
.u-icn{
    display: inline-block;
    width:15px;
    height:15px;
    margin: 9px 0 0 3px;
    background: url(../images/icon.png) no-repeat 0 9999px;
    background-position: -18px -682px;
    vertical-align:top;
}
/* 设置下外边距*/
.right-font2{
    margin-bottom:20px;
}
.sep-s3{
    line-height: 35px;
}
.sep-s4{
    line-height:35px;
    color:#999;
}
.right-font2{
    margin:0 0 20px;
}
/* 歌曲操作，播放等功能*/
.btns-f{
    margin:0 0 25px 0;
}
.btns-f em{
    font-style:normal;
}
/* 去掉下划线*/
/*1,2 播放，添加*/
.btns-f a{
    text-decoration:none;
    display:inline-block;
}
.btns-f-a1{
    width:66px;
    height:31px;
    background:#3f8ed8;
    padding:0 4px;
    color:#fff;
    box-shadow:0px 0px 3px #3f8ed8;
    border-top-left-radius:8%;
    border-bottom-left-radius:8%;
    float:left;
    line-height:30px;
}
.btns-bg1{
    display:inline-block;
    width:28px;
    height:18px;
    margin:6px -5px -4px 0;
    background:url(../images/button2.png) no-repeat;
    background-position:0px -1622px;
    line-height:31px; 
}
.btns-f-a2{
    width:31px;
    height:31px;
    line-height:30px;
    background:#3f8ed8;
    padding:0 10px;
    color:#fff;
    box-shadow:0px 0px 3px #f8ed8d;
    border-top-right-radius:8%;
    border-bottom-right-radius:8%;
    margin:0 -1px 0 0px;
    line-height:31px;
    font-size:20px;
    float:left;
}
/*3收藏*/
.btns-f-a3{
    float:left;
    padding-right:5px;
    margin-left:5px;
    border:1px solid #d1d1d1;
    border-radius:7%;
    font-style: normal;
    text-align: left;
    font-size: inherit;
    background:#fcfcfc;
    
}
.btns-bg2{
    color:#9d9d9d;
    height:31px;
    width:20px;
    line-height:30px;
    padding-left:28px;
    background:url(../images/button2.png) no-repeat;
    background-position:-2px -986px;
}
/*4转发*/
.btns-f-a4{
    float:left;
    padding-right:5px;
    margin-left:5px;
    border:1px solid #d1d1d1;
    border-radius:7%;
    font-style: normal;
    text-align: left;
    font-size: inherit;
    color:#333;
    background:#fcfcfc;
    
}
.btns-bg3{
    height:31px;
    width:20px;
    color:#9d9d9d;
    line-height:30px;
    padding-left:28px;
    background:url(../images/button2.png) no-repeat;
    background-position:-2px -1234px;
}
/*5下载*/
.btns-f-a5{
    float:left;
    padding-right:5px;
    margin-left:5px;
    border:1px solid #d1d1d1;
    border-radius:7%;
    font-style: normal;
    text-align: left;
    font-size: inherit;
    color:#333;
    background:#fcfcfc;
    
}
.btns-bg4{
    height:31px;
    width:20px;
    color:#9d9d9d;
    line-height:30px;
    padding-left:28px;
    background:url(../images/button2.png) no-repeat;
    background-position:-2px -2769px;
}
/*6评论*/
.btns-f-a6{
    float:left;
    padding-right:5px;
    margin-left:5px;
    border:1px solid #d1d1d1;
    border-radius:7%;
    font-style: normal;
    text-align: left;
    font-size: inherit;
    color:#333;
    background:#fcfcfc;
    
}
.btns-bg5{
    height:31px;
    width:20px;
    color:#9d9d9d;
    line-height:30px;
    padding-left:28px;
    background:url(../images/button2.png) no-repeat;
    background-position:-2px -1473px;
}
/*右下部分*/
.bottom-right{
    float:left;
    padding:0 30px 40px 40px;
    
}
/* 顶部样式 */
.u-title{
    height:33px;
    border-bottom:2px solid #c20c03;
}
.u-title h3{
    float:left;
    font-size: 20px;
    line-height: 28px;

}
.sub{
    float:left;
    margin:9px 0 0 20px;
    color:#666;


}
/* 设置浮动*/
.more{
    float:right;
    margin-top:5px;
}
.more strong{
    color:#c20c0c;
    font-weight:bold
}
/* 表格 */
.m-table{
    width: 100%;
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    border-spacing: 0;
    
}
/*表头*/
thead{
    border-bottom:1px solid #e8e8e8;
}
/* 设置th元素 */
.m-table th,.wp{
   
    height: 38px;
    text-align: left;
    color:#666;
    font-size:12px;
    background-color: #f7f7f7;
    background-position: 0 0;
    background-repeat: repeat-x;
    background:url(../images/table.png) no-repeat 0 9999px;
}
/* 第一个单元格 */
.th-fir{
    width:77px;
}
.m-table th .wp{
    padding:0px 10px;
    height:28px;
    line-height:28px;
    background-position:0px -66px
}
/* 主体 */
/* 设置第一行背景色 */
.tbody-1tr{
    background:#f7f7f7;
}
.tb-td1{
    width:77.33px;
    height:70px;
    padding:8px 10px;
    line-height:18px;
    text-align:left;
}
/* 第一个单元格 */
.hd{
    height:18px;
    width:40px;
}
.tab-span-bg{
    float:right;
    width:16px;
    height:17px;
    background:url(../images/icon.png);
    background-position:-67px -283px;
    margin-right:1px;
}
/* 第二个单元格*/
.tb-td2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.tb-td2-div{
    float:left;
    width:100%;
}
a{text-decoration: none;}
.tb-td2-a{
    text-decoration: none;
    float:left;
    display:inline-block;    
}
.tb-td2-a img{
    width:50px;
    height:50px;
    margin-right:14px;
}
/* 播放按钮 */
.tb-td2-span{
    float:left;
    width:17px;
    height:17px;
    background:url(../images/table.png) no-repeat;
    background-position:0 -103px;
    margin-top:17px;
    margin-right:8px;
}
.ttc{
    float:right;
    width:310px;
    height: 18px;
    margin-top: 16px;
    margin-right: 20px;
    
}
.ttc span{
    max-width:75%;
}
/* 第三个单元格 */
.tb-td3{
    text-align:left;
    padding:8px 39px 8px 6px;
}
/* 第四个单元格 */
.tb-td4{
    padding:8px 39px 8px 8px;
}
/*设置偶数行的背景颜色*/
.ou-num{background:#fff;}
/* 设置所有tr的背景 */
tbody tr{background:#f7f7f7;}











/* 设置第一行背景色 */

.tbody-3-td1{
    padding:6px 10px;
    line-height:18px;
    text-align:left;
}
/* 第一个单元格 */
.tbody-3-hd{
    height:18px;
}
.tbody3-num{
    float: left;
    width: 25px;
    margin-left: 0;
    text-align: center
}
.tbody-3-tab-span-bg{
    float:right;
    width:16px;
    height:17px;
    background:url(../images/icon.png);
    background-position:-67px -283px;
    margin-right:1px;
}
/* 第二个单元格*/
.tbody-3-tb-td2{
    padding:0 10px;
    line-height: 18px;
    text-align: left;
}
.tbody-3-tb-td2-div{
    float:left;
    width:100%;
}
.tbody-3 a{text-decoration: none;}
.tbody-3-tb-td2-a{text-decoration: none;
float:left;}

/* 播放按钮 */
.tbody-3-tb-td2-span{
    float:left;
    width:17px;
    height:17px;
    background:url(../images/index/table.png) no-repeat;
    background-position:0 -103px;
    margin-top:0px;
    margin-right:8px;
}
.tbody-3-ttc{
    float:left;
    
}
.tbody-3-ttc span{
    max-width:75%;
}
/* 第三个单元格 */
.tbody-3-tb-td3{
    padding-left:7px;
    text-align:left;
    
}
/* 第四个单元格 */
.tbody-3-tb-td4{
    padding-left:8px;
}
/* 下部分 */
.b-container{
    padding:0 30px 0 40px;
    float:left;
    width:738px;
    
    
}
/* 设置标题 */
.b-title{
    height: 33px;
    border-bottom: 2px solid #c20c0c;
}




/* 设置整体的宽度和边框 */

.playlist_detail {
    padding-left:40px;
    padding-right:30px;
    float:left;
    width: 100%;
    border: 1px solid #d3d3d3;
    margin: 0 auto;
}


/* 左侧信息 */
.pd_left{
    padding: 47px 30px 40px 39px;
    width: 640px;
    float: left;
    border-right: 1px solid #d3d3d3;
}

/* 左侧信息图片 */

.pd_info_pic {
    float: left;
    border: 1px solid #eee;
    padding: 2px 2px 0 2px;
}


/* 左侧信息内容 */

.pd_info_right {
    float: left;
    width: 410px;
    margin-left: 20px;
    font-size: 10px;
    color: #777;
}


/* 左侧内容标题 */

.pd_info_right h3:first-child {
    margin-bottom: 12px;
}


/* 左侧信息内容标题的歌单图片 */

.pd_info_right h3:first-child i {
    display: inline-block;
    width: 54px;
    height: 24px;
    background: url(../images/icon.png) 0 -243px;
}

.pd_info_right h3:first-child span {
    display: inline-block;
    line-height: 24px;
    font-size: 20px;
    font-weight: normal;
    padding-left: 60px;
    margin-top: -24px;
}


/* 左侧内容第二行 */

.pd_info_2 {
    display: flex;
    line-height: 35px;
    margin-bottom: 20px;
}

.pd_info_2 a:first-child {
    height: 40px;
    margin-right: 5px;
}

.pd_info_2 a:nth-child(2) {
    color: #0c73c2;
    margin-bottom: 0px;
}

.pd_info_2 a:hover {
    text-decoration: underline;
}


/* 网易云音乐旁的V */

.pd_info_2 i {
    width: 11px;
    height: 13px;
    background: url(../images/icon.png) 0px -1px;
    margin-top: 11px;
    margin-right: 10px;
}


/* 创建时间 */

.pd_info_2 span {
    color: #999;
}


/* 左侧内容第三行按钮 */

.pd_but_box {
    display: flex;
    margin-bottom: 25px;
}

.pd_but_box a {
    line-height: 31px;
    height: 31px;
}

.pd_but_box .but_play {
    width: 60px;
    background: url(../images/button2.png) 0 -633px;
    padding-left: 33px;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
}

.pd_but_box .but_add {
    width: 31px;
    background: url(../images/button2.png) 0 -1588px;
    margin-right: 5px;
}

.pd_but_box .but_file,
.pd_but_box .but_share,
.pd_but_box .but_down,
.pd_but_box .but_commt {
    min-width: 23px;
    padding: 0px 0px 0px 36px;
}

.pd_but_box .but_file {
    background: url(../images/button2.png) 0 -977px;
}

/* 设置右边浮动 */
.float-inn{
    float:right;
    width:738px;
}
/* 设置精灵图所缺的右边 */

.but_file+b,
.but_share+b,
.but_down+b,
.but_commt+b {
    display: inline-block;
    height: 31px;
    padding-right: 5px;
    background: url(../images/button2.png) right -1020px;
    margin-right: 5px;
}

.pd_but_box .but_share {
    background: url(../images/button2.png) 0 -1225px;
}

.pd_but_box .but_down {
    background: url(../images/button2.png) 0 -2761px;
}

.pd_but_box .but_commt {
    background: url(../images/button2.png) 0 -1465px;
}


/* 设置标签 */

.pd_info_mark {
    display: flex;
    line-height: 22px;
    margin-bottom: 5px;
}

.pd_info_mark a {
    height: 22px;
    background: url(../images/button2.png) 0 0;
    padding-left: 10px;
    color: #777;
    font-size: 8px;
}

.pd_info_mark a+b {
    height: 22px;
    padding-right: 10px;
    background: url(../images/button2.png) right -27px;
    margin-right: 10px;
}


/* 设置歌单列表部分 */


/* 歌单标题部分 */

.title_box {
    color: #666;
    margin-top: 20px;
    border-bottom: 2px solid #c20c0c;
}

.title_box div:first-child {
    float: left;
    display: flex;
}

.title_box div:first-child h3 {
    font: 20px "微软雅黑";
    color: #333;
}

.title_box div:first-child span {
    display: inline-block;
    margin-left: 20px;
    margin-top: 9px;
}

.title_box div:last-child {
    float: right;
    line-height: 26px;
    height: 26px;
}


/* 音乐图标 */

.title_box .msc_pic {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icon.png) -34px -863px;
    vertical-align: middle;
    margin-bottom: 6px;
}

.title_box a {
    display: inline-block;
    color: #4996d1;
    text-decoration: underline;
    margin-right: 20px;
}

.title_box .title_red {
    color: #c20c0c;
    font-weight: bold;
    font-style: normal;
}


/* 歌单主体部分 */

.mic_table {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-spacing: 0;
}


/* 设置表格标题 */

.mic_table th {
    height: 35px;
    line-height: 34px;
    background: url(../images/table.png) 0 0;
    color: #666;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}

.mic_table th span {
    display: inline-block;
    height: 35px;
    width: 100%;
    background: url(../images/table.png) no-repeat 0 -56px;
    padding-left: 10px;
    box-sizing: border-box;
}

.mic_table th:first-child {
    background: url(../images/table.png) no-repeat 0 0;
}


/* 设置表格主体 */

.mic_table td {
    padding: 6px 10px;
    line-height: 19px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 设置表格隔行变色 */

.mic_table tr:nth-child(odd) {
    background: #f7f7f7;
}


/* 设置序号、时长样式  */

.mic_table span {
    color: #999;
}

.mic_table .tab_play {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url(../images/table.png) no-repeat 0 -103px;
    
}

.mic_table .tab_play:hover {
    background: url(../images/table.png) no-repeat 0 -128px;
}

.mic_table a {
    color: #333;
}


/* 第二列 */

.mic_table tbody td:nth-child(2) {
    width: 240px;
    height:20px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.mic_table .tab_muc_detail {
    font-weight: normal;
    color: #aeaeae;
}

.mic_table .tab_mv {
    display: inline-block;
    width: 23px;
    height: 17px;
    margin-left: 10px;
    background: url(../images/table.png) no-repeat 0 -151px;
}

.mic_table .tab_mv:hover {
    background-position: -30px -151px;
}


/* 设置时长按钮 */

.tab_but_box {
    float: right;
}


/* 避免时长宽度溢出 */

.mic_table .tab_time_box {
    width: 111px;
    position: relative;
}

.tab_time_box .tab_but_box1,
.tab_time_box .tab_but_box2 {
    position: absolute;
    top: 10px;
    left: 10px;
}


/* 默认but隐藏 */

.tab_time_box .tab_but_box1 {
    background-color: #f7f7f7;
    display: none;
}

.tab_time_box .tab_but_box2 {
    background-color: #fff;
    display: none;
}


/* hover父元素时出现 */

.mic_table tr:hover .tab_but_box1,
.mic_table tr:hover .tab_but_box2 {
    display: block;
}

.tab_but_box1 a,
.tab_but_box2 a {
    display: inline-block;
    width: 17px;
    height: 16px;
}

.tab_add {
    background: url(../images/icon.png) no-repeat 0 -700px;
}

.tab_add:hover {
    background: url(../images/icon.png) no-repeat -22px -700px;
}

.tab_like {
    background: url(../images/table.png) no-repeat 0 -174px;
}

.tab_like:hover {
    background: url(../images/table.png) no-repeat -20px -174px;
}

.tab_share {
    background: url(../images/table.png) no-repeat 0 -195px;
}

.tab_share:hover {
    background: url(../images/table.png) no-repeat -20px -195px;
}

.tab_down {
    background: url(../images/table.png) no-repeat -81px -174px;
}

.tab_down:hover {
    background: url(../images/table.png) no-repeat -104px -174px;
}


/* 评论部分 */


/* 评论标题 */

.commt_title {
    font: 20px "微软雅黑";
    color: #333;
}

.commt_title+span {
    display: inline-block;
    margin-left: 20px;
    margin-top: 9px;
}


/* 评论主体 */

.pd_commt {
    margin-top: 20px;
}


/* 评论书写部分 */

.commt_box .touxiang img {
    float: left;
    height: 50px;
    width: 50px;
}

.commt_box .commt {
    float: left;
}

.commt {
    width: 578px;
    position: relative
}

.commt_txt {
    display: block;
    height: 50px;
    width: 100%;
    padding: 5px 6px 6px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    line-height: 19px;
    resize: none;
    margin-left: 10px;
    box-sizing: border-box;
}

.commt_txt:focus {
    outline: none;
}

.commt_txt_bg {
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 20px;
    background: url(../images/commt_bg.png);
    top: 10px;
}
/* 评论框的icon和按钮 */
.comm_icon{
    float: left;
    width:578px;
    padding-top: 10px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    vertical-align: middle;
    height: 25px;
}
.comm_icon .icon a{
    display: inline-block;
    width: 18px;
    height: 18px;
}
.comm_icon .icon a:first-child{
    background: url(../images/icon.png) no-repeat -40px -490px;
    margin-right: 10px;
}
.comm_icon .icon a:nth-child(2){
    background: url(../images/icon.png) no-repeat -60px -490px;
}
.comm_but a{
    display: inline-block;
    width: 46px;
    height: 25px;
    background: url(../images/button.png) -84px -64px;
    line-height: 25px;
    text-align: center;
    color: #fff;
}
/* 评论展示部分 */
.commt_dis_box .dis_title{
    border-bottom: 1px solid #cfcfcf;
    height: 20px;
    margin-top: 30px;
}
/* 评论展示 */
.commt_dis{
    padding: 15px 0;
}
.commt_dis+.commt_dis{
    border-top: 1px dotted #ccc;
}
.commt_photo,.commt_content{
    float: left;
}
.uname{
    color:#0c73c2;
}
.commt_dis a:hover{
    text-decoration: underline;
}
.commt_content{
    margin-left: 10px;
    width: 580px;;
}
.c_cont_box{
    line-height: 20px;
}
.c_cont_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.c_cont_bottom .commit_like{
    display: inline-block;
    width: 15px;
    height: 14px;
    background: url(../images/icon2.png) no-repeat -150px 0;
    margin-right: 5px;
}
.c_cont_bottom .action_a{
    color: #666;
}
.action_a + .action_a::before{
    content:"|";
    padding-left:5px; 
    padding-right: 8px;
}
/* 回复评论 */
.commt_content div:nth-child(2){
    line-height: 0;
}
.reply_commit{
    padding: 8px 19px;
    margin-top: 10px;
    line-height: 20px;
    background: #f4f4f4;
    border: 1px solid #dedede;
    position: relative;
}
/* vip图片 */
.vip_img{
    display: inline-block;
    width: 39px;
    height: 12px;
}
/* 设置回复评论小三角 */
.reply_bd{
    color: #dedede;
    position: absolute;
    top: 0px;
    left: 20px;
}
.reply_bg{
    position: absolute;
    top: 1px;
    left:20px;
    color: #f4f4f4;
}
/* 用户小星星 */
.commit_star{
    display: inline-block;
    width: 12px;
    height:13px;
    background: url(../images/icon.png) no-repeat -65px -840px;
}
/* 页码 */
.page{
    margin: 20px 8px;
    list-style: none;
}
.page_item{
    float: left;
    height: 22px;
    padding: 0 8px;
    background-color: #fff;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: middle;
    margin: 0 1px 0 2px; 
}
.page_item a{
    color: #333;
}
.page li:first-child,.page li:last-child{
    background:url(../images/button.png) no-repeat -75px -560px;
}
/* 右侧边栏 */
.pd_right{
    float: left;
    padding: 20px 39px 40px 30px;
}
.pd_right h4{
    height: 23px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc
}
.like_people{
    width:200px;
}
.like_people li {
    float: left;
}
.like_people img{
    padding: 0 0 13px 13px;
}
.like_people li:first-child img,.like_people li:nth-child(5) img{
    padding-left:0; 
}
/* 相关推荐 */
.related_commed{
    margin-bottom: 25px;
}
.commed_item{
    width: 200px;
    position: relative;
    margin-bottom: 15px;
}
.commed_item a:hover{
    text-decoration: underline;
}
.commed_title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width:140px;
}
.commed_content p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.commed_title a{
    display: inline-block;
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
}
.commed_item div{
    position: absolute;
    top:0px;
    left:60px;
}
.commed_content .user_name{
    max-width: 106px;
    margin: 0 2px 0 4px;
    color: #333;
}
/* 网易云多端 */
.more_down a{
    color: #999;
}





