.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
}
.carousel-indicators li{
    width:0.6rem;height:0.6rem;
    background:#fff;
    border-radius: 50%;
    margin-left:6px;
    margin-right:6px;
}
.carousel-indicators .active{
    background:#0aa1ed;
}
.a{
    background-image: url("../images/15.jpg");
    height:483px;
}
div.carousel-item>img{
    margin-left: 150px;
}
p{
    width:60%;
}
.media-body{
    margin-top:50px;
    margin-left: 160px;   
}
.rounded1{
    margin-right: 200px;
}
.rounded2{
    margin-left: 200px;    
}
.em{
    color:red
}
#radius{
    background-color: red;
    border-radius:2rem;
    margin:5px auto;
    text-decoration:none;
    padding:2px 0px;
}
div #radius>a{
    color:#fff;
    font-size:1px;
}
ul#ul{
    width: 30%;
    position:absolute;
    top:175px;
    left:840px;
}
#li{
    margin:18px 0;
}

#li>a{
  color:#fff;
  background-color:rgba(0,0,0,.4);
  padding:8px 18px;
}
#c1>span{
    color:#fff;
    font-size: 50%
}
.position-fixed{top: 60%;right: 0}
